@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home page";
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Página Inicial</h1>
        <p></p>
        <p>Faça login para ter acesso ao painel</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Painel Principal</h1>
        <p></p>
        <p>Seja bem-vindo!</p>
        <p>Você está logado na Plataforma</p>
    </div>
}