@page
@model CallMe.Pages.Categorias.EditModel
@{
    ViewData["Title"] = "Alteração de Categoria";
}

<h1>Alterar Categoria</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Categoria.Id" />
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Categoria.Nome)
                <input asp-for="Categoria.Nome" class="form-control" />
                <span asp-validation-for="Categoria.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Categoria.Observacao)
                <input asp-for="Categoria.Observacao" class="form-control" />
                <span asp-validation-for="Categoria.Observacao" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <a asp-page="./Index" class="btn btn-info">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts
    {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }